.pHeader
{
    color: brown;
}

.imglang
{
    height: 15px;
}
.homeContent
{
    border: 1px solid red;;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
}

.textcard
{
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
    
}

.card-title
{
    color: brown;
    font-weight: 500;
}

.card-title1
{
    color: brown;
    font-weight: 800;
    font-size: 16PX;
    padding-top: 10px;
}

.divFooter
{
    
    background-color: brown;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.statistic-2
{
    color: yellow;
}
